<%- include('../layout/header') %>

<div class="container w-60">
  <div class="cart-main">
    <div class="cart text-center">Your Shopping cart</div>
    <hr />
    <div
      class="d-flex flex-column flex-wrap"
      style="justify-content: space-between">
      <div class="row">
        <div class="col-md-7">
          <div class="d-flex">
            <div class="row">
               <% if(data.length != 0){ %>
                  <% data.forEach( element => { %>
                     <div class="col-12 m-1">
                        <span class="text-muted" style="font-weight: bold"
                          ><%= element.name %></span
                        >
                        | <span class="text-success"> Rs.<%= element.price %> </span>
                        <br />
                        <div
                          class="cart-item-qty-menu dropdown mt-1 d-flex flex-row"
                          style="justify-content: space-between"
                        >
                          <div>
                            Quantity &nbsp;<button
                              class="btn btn-secondary dropdown-toggle btn-sm"
                              type="button"
                              id="dropdownMenuButton"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <%= element.qty%>
                            </button>
                            <div
                              class="dropdown-menu"
                              aria-labelledby="dropdownMenuButton"
                            >
                            <% for(let i=1; i <= element.qty_available ; i++ ){ %>
                              <a class="dropdown-item" href="/cart/update_qty?item=<%= element.id %>&qty=<%= i%>">
                                <%= i %>
                              </a>
                              <% } %>
                            </div>
                          </div>
                          <div class="remove-cart-item">
                            <a
                              href="/cart/remove-item?q=<%=element.id %>"
                              class="text-danger"
                              style="text-decoration: none"
                              >Remove</a
                            >
                          </div>
                        </div>
                      </div>
                  <% }) %>
               <% } else { %>
                  Shopping cart Empty !!  
               <% } %>
            </div>
          </div>
        </div>
        <div
          class="col-md-5 p-2"
          style="background-color: rgb(237, 237, 237)">
          <hr>
          <div class="d-flex" style="justify-content: space-between;">
            <div class="total-content">
              <h6 class="text-muted"> Total Amount: </h6>
            </div>
            <div class="total-amt"> 
              <h6 class="text-dark"> Rs. <%= net_amt %> </h6> 
            </div>
          </div>
          <div>
            <a href="/order/place-order" role="button" class="btn btn-warning place-order-btn">Proceed to buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layout/footer') %>
